.signOut-overall{
    background-color: black;
    width: 100vw;
    height:100vh;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
.SIGN-OUT-BUTTON{
    font-family: 'Poppins', sans-serif;
}
.SIGN-OUT-BUTTON {
    cursor: pointer;
    position: fixed;
    top: 3%;
    right: 10%;
    padding: 16px 30px;
    font-size: 1.70vw;
    color: blue;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    text-shadow: 0 0 15px blue;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    background: rgb(243, 240, 240);
    z-index: 1;
  }
  
  .SIGN-OUT-BUTTON:hover {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0px blue;
  }
  
  .SIGN-OUT-BUTTON::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: blue;
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
  }
  
  .SIGN-OUT-BUTTON:hover::before {
    transform: scale(1);
    transition-delay: 0.2s;
    box-shadow: 0 0 10px blue,
      0 0 30px blue,
      0 0 60px blue;
  }
  